* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(bg1.jpg);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-logo h1 {
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family: cursive;
    margin: 15px;
}

.nav-links {
    display: flex;
    flex: 1;
    float: right;
    text-align: right;
    justify-content: right;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}

.nav-links a{
    border-radius: 3px;
    padding: 20px;
    text-decoration: none;
    color: #fff;
    margin-left: 40px;
    font-family: cursive;
    transition: 0.6s ease-in-out;
}
.nav-links a:hover{
    background: #fff;
    padding: 8px 10px;
    border-radius: 7px;
    color: #000;

}

.nav-links .btn {
    background: #fff;
    color: #000;
    padding: 8px 30px;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}
.nav-links .btn:hover{
    color: #fff;
    background-color: transparent;
}
.content {
    margin-top: 180px;
    color: #fff;
    margin-left: 8em;
}

.content h1 {
    font-size: 50px;
    font-family: cursive;
}

.search-box {
    background: #fff;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    margin: 20px 0;
}

.search-box input {
    background: transparent;
    width: 600px;
    border: transparent;
    cursor: pointer;
    outline: none;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.search-box button {
    border: none;
    background: transparent;
}

.search-box button img {
    width: 2rem;
    background: transparent;
    margin-left: 20px;
}
@media (max-width: 900px) {
    .content {
        margin-left: 20px;
    }
}
@media (max-width: 800px) {
    .search-box input {
        background: transparent;
        width: 100%;
        text-align: center;
        border: transparent;
        cursor: pointer;
        outline: none;
        height: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
    }
}

@media (max-width: 900px) {
    .nav-links .btn {
        background: #fff;
        color: #000;
        padding: 6px 0px;
        border-radius: 4px;
        font-size: 90%;
    }
}
@media (max-width: 667px) {
    .nav-links .btn {
        background: #fff;
        color: #000;
        padding: 6px 0px;
        border-radius: 4px;
        font-size: 85%;
    }
    
}
@media (max-width: 700px) {
    .nav-links .btn {
        display: none;
    }
}